@model TeoSoft.Models.Venta

@{
    ViewData["Title"] = "Detalles de la Venta";
}

<h1 class="text-center"><i class="fas fa-info-circle"></i> Detalles de la Venta</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Fecha)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Fecha)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Total)</dt>
                    <dd class="col-sm-8">
                        @String.Format("{0:N0}", Model.Total) <!-- Formato de miles con puntos -->
                    </dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Cliente)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Cliente.Nombre)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Producto)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Producto.Nombre)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Estado)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Estado)</dd>
                </dl>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Edit" asp-route-id="@Model.VentaId" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</div>
